.navbar {
    background: #F4EFEF;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-logo a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .navbar-menu.open {
    max-height: 500px; /* Adjust this value as needed */
  }
  
  .navbar-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-menu li {
    margin: 10px;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: 1px solid #000;
    background: #D9D9D9;
    padding: 8px 15px;
  }
  
  .navbar-create-class {
    margin-left: auto;
    display: flex;
  }
  
  .navbar-create-class a {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: 1px solid #000;
    background: #D9D9D9;
    padding: 8px 15px;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background: black;
    margin-bottom: 5px;
  }
  
  @media (max-width: 768px) {
    .navbar-logo {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-menu {
      display: none;
    }
  
    .navbar-create-class {
      display: none;
    }
  
    .navbar-menu.open,
    .navbar-create-class.open {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-height: none;
    }
  
    .navbar-menu ul {
      margin-top: 10px;
    }
  }
  