.cardContainer {
    margin: 10px;
    perspective: 1000px;
    font-size: 18px;
    width: 290px;
    height: 250px;
    background: none;
    display: inline-block;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin-right: 25px;
}

.comprar {
    border-radius: 5px;
    background-color: #a3e635;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    /* box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6); */
}

.modalContent {
    /* Estilos para el contenido del modal */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.modalOverlay {
    /* Estilos para el fondo oscuro del modal */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
    width: 100%;
    height: 100%;
}

.modalButton {
    /* Estilos para los botones del modal */
    margin: 10px;
    padding: 10px 20px;
    background-color: #595959;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}