footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  .upper-section {
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    color: black;
    padding: 10px;
  }
  
  .contacto,
  .mapa-sitio,
  .fotos,
  .logo,
  .iconos-redes-sociales {
    flex: 1 1 50%;
  }
  
  .contacto {
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    
  }
  
  .mapa-sitio {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    align-items: flex-start;
  }
  
  .fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
  }
  
  .fotos img {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  
  .logo {
    display: flex;
    flex-direction: column ;
    align-items: flex-end;
    margin-top: 20px;
  }
  
  .logo img {
    width: 100px;
  }
  
  .iconos-redes-sociales {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: flex-end;
  }
  
  .iconos-redes-sociales img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
  
  .lower-section {
    background-color: black;
    padding: 20px;
    text-align: center;
  }
  
  .lower-section p {
    color: white;
  }
  
  .lower-section a {
    color: white;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .upper-section {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .contacto,
    .mapa-sitio,
    .fotos,
    .logo,
    .iconos-redes-sociales {
      flex: 1 1 100%;
    }
  
    .fotos img {
      width: 40px;
      height: 40px;
    }
  
    .logo img {
      width: 80px;
    }
  
    .iconos-redes-sociales img {
      width: 20px;
      height: 20px;
    }
  }
  