.searchbar button {
    border-radius: 5px;
    background-color: #e4b921;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}

.searchbar {
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    /* max-width: 90%; */
}

.searchbar input{
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.6);
}
